@font-face {
    font-family:amazon1;
    src: url(./assets/AmazonEmber_Lt.woff);
}
@font-face {
    font-family:amazon2;
    src: url(./assets/AmazonEmber_Rg.woff);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "amazon1", "fantasy";
}

.logoprime {
    display: flex;
    height: 24px;
}

.inicio {
    display: flex;
    align-items: center;
    ;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #00050d;
    padding: 8px;
    color: #aaaaaa;
    gap: 50px;
  
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 0 1em;
    font-size: 16;
}

.inicio li a img {
    display: inline-block;
    
    width: 30px;
    height: 30px;
}

.menuhomem .logohomem {
    width: 35px;
    height: 35px;
}
/* ************************************ */

#tamanho-banner {
    height: 42em;
    background-image: url(./assets/BRND_MTH23_PVMagnetLeft_1440x675_POST_Final_noLocale_DOT5650.jpg);
    background-size:cover;
}

.banner {
    width: 50%;
    height: 42em;
    background-image: linear-gradient(to right, #000000 85%, #ffffff00) ;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 5%;
    justify-content: center;
    gap: 2.8em;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner h1 {
    font-size: 45px;
    font-weight: 700;
}

.banner p{
    font-size: 18px;
}


.banner .note {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

button{
    font-size: 1em;
    color: var(--branco);
    background-image: linear-gradient(to right, #0f79af 90%, #086cb4);
    border: none;
    border-radius: 2px;
    padding: 1em;
    width: 17.5em;
    cursor: pointer;
}

#filmes{
    width: 10em;
    margin: 2em 0;
}

#linha-ou {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60PX;
  padding: 0.5em 0;
}

#linha-ou hr{
    display: inline-block;
    height: 1px;
    width: 280px;
}

#linha-ou p{
    margin: 0 10px;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* **************************canais*************************** */

#canais {
    display: flex;
    padding: 1em 0px;
    font-family: "amazon" ;
}

#canais article {
    max-width: 50%;
}

.textocanais {
    padding: 3.5rem;
}


.textocanais h2{
    font-size: 2.9em;
    font-weight: 500;
    margin-bottom: 1em;
}


.textocanais p{
    font-size: 1.5em;
}
    

#canais img {
    max-width: 16em;
    height: 11em;
    transition: .15s;
}

#canais img:hover {
    box-shadow: 0 0 10px 1px black;
    cursor: pointer;
 }

.listacanais {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.listacanais a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* **************************LOJA******************************* */
#store{
        height: 40em;
        background-image: url(./assets/MLP_BG_left_1440x675.jpg);
        background-size: cover;
        display: flex;
        justify-content: end;
    }

#store article {
        background-image: linear-gradient(to left, black 85%, transparent);
        width: 50%;
        padding-right: 4em;
        padding-left: 8em;
        color: white;
        font-family: 'amazon ember light';
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
    }

.store h1 {
        font-size: 2.9em;
        font-weight: 700;
    }

.store p{
    font-size: 1.2em;
}

.store button {
        font-size: 1em;
        color: white;
        background-image: linear-gradient(to right, #0f79af 90%, #086cb4);
        border: none;
        border-radius: 2px;
        padding: 1em;
        width: 17.5em;
        cursor: pointer;
    }
/* *************************************dispositivos************************************** */
#dispositivos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 60px 5% 30px 5%;
}
#dispositivos article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 34em;
    text-align: center;
}

#dispositivos h2 {
    font-family: 'amazon1';
    font-size: 2.25em;
}

#dispositivos p{
    color: black;
    font-family: 'amazon1';
}
/* ************************footer***************************** */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    height: 9.8em;
    width: 100%;

    background-color: #222222;
    color: #949494;
}

footer img {
    height: 2em;
}

footer ul {
    display: flex;
    gap: 1em;

    list-style: none;
}

footer ul li a {
    font-size: 1em;
    font-family: 'amazon1';
    color: #0f79af;
}

footer p{
    font-size: 1em;
    font-family: 'amazon1';
}
