* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.logoprime {
    display: flex;
    height: 25px;
}

.inicio {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #00050d;
    padding: 20px;
    color: white;
    gap: 100px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
    align-items: center;
    justify-content: center;
}

.inicio li a img {
    display: inline-block;
    align-items: ;
    width: 30px;
    height: 30px;

}



nav ul li a,
.ling-login a {
    padding: 20px;
    color: #AAAAAA;
    text-decoration: none;
}

.banner {
    height: 42em;
    position: relative;
    text-align: left;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    padding: 360px 360px 348px 0;
    position: absolute;
    top: 0%;
    left: 5%;
    max-width: 1100px;
    background-image: linear-gradient(to right, black 55%, transparent 80%);
}

.banner-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 100;
}

.banner-text p {
    font-size: 1em;
    margin-bottom: 10px;
}

.banner-text button {
    background-color: #00a8e1;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
}

.banner-text .note {
    font-size: 0.8em;
    color: lightgray;
}

/* **************************canais*************************** */

#canais {
    display: flex;
    padding: 10px 0px;
}

#canais article {
    max-width: 50%;
}

.textocanais {
    padding: 35px;
}

.textocanais h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

p{
    display: flex;
    height: 7px;
    margin-block-start: 10px;
}

.canais p {
    font-size: 15px;
}

#canais img{
    max-width: 234px;
    height: 200px;
    transition: .15s;
}

img{
    over
}

.listacanais {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.listacanais a {
    background-color: #0053a0;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.store {
    text-align: center;
    padding: 20px;
}

.store h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.store button {
    background-color: #00a8e1;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
}

.features div {
    text-align: center;
    max-width: 200px;
}

.features img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}