*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}

body { 
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

h1, li, .menu-descricao {
    font-weight: 700;
    font-family: sans-serif;
}

.navegacao {
    background-color: #e8e6e6;
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
    width: 980px;}

.menu-list {
    font-size: 15px;
    list-style: none;
    display: flex;}

.menu-list > li > a{
    background-color: #e8e6e6;
    padding: 2px 7px;
    color: black;}

/* ***********************menu************************** */

#banner {
    display: flex;
    justify-content: center}

.imgpeixe {
    display: flex;
    justify-content: center;
    box-sizing: border-box;}

.imggrande {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;}

    /* *******************descricao******************* */

#descricao {
    background-color: #e8e6e6;
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    width: 980px;}

.menu-descricao {
    font-size: 12px;
    display: flex;
    list-style: none;
}

.menu-descricao > li{
    background-color: #e8e6e6;
    padding: 2px 7px;
    color: #000000;}

/* ***********************serviços*********************** */

#descricao {
    background-color: #e8e6e6;
    display: flex ;
    justify-content: flex-start;  
    align-items: center;
    height: 20px;
    width: 980px;}

.menu-servicos {
    font-size: 14px;
    display: flex;}

.menu-servicos > li{
    background-color: #000000;
    padding: 2px 7px;
    color: #ffffff;}

/* *********************desenvolvimento****************** */

#servicos {
    background-color: #000000;
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    width: 980px;}
    
.menu-servicos {
    font-size: 16px;
    font-weight: 600;
    gap: 605px;
    list-style: none;
    display: flex;}
    
.menu-servicos > p {
    background-color: #000000;
    padding: 2px 7px;
    text-decoration: none;
    color: #ffffff;}

/* ****************************************************** */

#desenvolvimento {
    background-color: #e8e6e6;
    display: flex ;
    font-size: 155px;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
    width: 980px;}
    
.menu-desenvolvimento {
    width: 640px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    display: flex;}

.menu-desenvolvimento > ul > h1 {
        background-color: #e8e6e6;
        padding: 2px 7px;
        font-size: 16px;
        text-decoration: none;
        color: #000000;}
    
.menu-desenvolvimento > ul> p {
    font-family: serif;
    background-color:#e8e6e6;
    font-size: 14px;
    padding: 2px 7px;
    text-decoration: none;
    color:  #6e6b6b;}
    /* ****************************************** */

    #desenvolvimento {
        background-color: #e8e6e6;
        display: flex ;
        font: 155px;
        justify-content: space-between;
        align-items: flex-start;
        height: 630px;
        width: 980px;}
        
    .menu-desenvolvimento2 {
        width: 260px;
        font-size: 16px;
        font-weight: 600;
        list-style: none;
        display: flex;}
    
    .menu-desenvolvimento2 > ul > h1 {
            background-color: #e8e6e6;
            padding: 2px 7px;
            font-size: 16px;
            text-decoration: none;
            color: #000000;}
        
    .menu-desenvolvimento2 > ul> p {
        font-family: serif;
        background-color:#e8e6e6;
        font-size: 14px;
        padding: 2px 7px;
        text-decoration: none;
        color:  #6e6b6b;}

    /* ***************************************** */

    #menu-desenvolvimento3 {
        background-color: #ffffff;
        font-size: 14px;
        line-height: 15px;
        padding: 2px 1px;
        height: 180px;
        width: 250px;
        text-decoration: none;
        font-family: serif;
        color:  #6e6b6b;}

        .menu-desenvolvimento4 {
            color: rgb(0, 0, 0);
        }

    /* ***************************************** */

    footer > address{
        background-color: #000000;
        display: flex ;
        font-size: 10px;
        line-height: 10px;
        justify-content: flex-start;  
        align-items: flex-start;
        color: #ffffff;
        height: 60px;
        width: 980px;}

    

    

     